.cart_Chosen_Items{
    background-color: #1D1D1D;
}

.cart_Chosen_Items > div{
    display: flex;
}

.chosen_Item_Info{
    justify-content: space-evenly;

}

.chosen_Item_IMG > img{
  height: auto;
  width: 15%;
  border-radius: 5px;
  margin: 5px;
}

.item_Name{
  color: #FFFFFF;
}

.item_Price,
.Chosen_Item_Total{
  color: #FCBF49;
}

.Remove_From_Cart_Button{
  background-color: transparent;
  color: red;
  border: 0px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

