.cart_Chosen_Items{
    background-color: white;
    border-radius: 5px;
    width: 80%;
    display: flex;
    flex-direction: column;
    margin-left: 10%;
    margin-right: 10%;
    margin-top: 10px;
}

.cart_Chosen_Items > div{
    display: flex;
    align-items: center;
    background: #1D1D1D;
    border-radius: 20px;
    padding: 20px;
    margin: 20px;
}

.chosen_Item_Info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;

}

.Item_Details{
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 10px;
}

.item_quantity{
  display: flex;
  justify-content: center;
  width: 15%;
  color: #FCBF49;
  font-size: 12px;
}

.Item_Total{
  display: flex;
  flex-direction: column;
  justify-content:baseline;
}

.chosen_Item_IMG > img{
  height: 176px;
  width: 176px;
  border-radius: 5px;
  object-fit: cover;
  margin: 5px;
  padding: 0;
}

.item_Name{
  color: #FFFFFF;
}

.item_Price,
.Chosen_Item_Total{
  color: #FCBF49;
}

.Remove_From_Cart_Button{
  background-color: transparent;
  color: red;
  border: 0px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
  font-size: 15px;
  align-items: center;
}

.Remove_From_Cart_Button:hover{
  text-decoration: underline;
  font-weight: 600;
}
