footer{
    background-color: #1D1D1D;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}

footer > h1,
footer > h2,
footer > a{
    color: white;
}

footer > h2{
    font-size: small;
}

footer > a{
    text-decoration: none;
    padding-right:
}

footer > a:hover{
    text-decoration: underline;
}