html, body {
    background-color: #FFF8F0;
} 
header{
    background-color: #1D1D1D;
    display: flex;
    border-radius: 5px;
    padding: 0px 0px;
    margin: 0px;
    outline: 1px solid white;
    background-clip: padding-box;
    justify-content: space-between;
    align-items: center;

}

.search-icon{
    height: 35px;
    width: auto;
}

.shopping-cart-icon{
    height: 40px;
    width: auto;
    padding-left: 15px;
    transform: scaleX(-1);
}

/* Making the search icon and the shopping cart icon white */
.search-icon,
.shopping-cart-icon{
    filter: invert();
}

/*Making the search icon and the shopping cart icon turn the color wanted*/
.search-icon:hover,
.shopping-cart-icon:hover{
    filter: invert(72%) sepia(59%) saturate(836%) hue-rotate(358deg) brightness(102%) contrast(97%);
    transition: all ease 0.5s;
}


/* Making the Logo(the text) white*/
.Logo{
    color: white;
    padding-left: 15px;
    font-family: 'Courier New', Courier, monospace;
}

.banner-img{
    width: fit-content;
}

