.Menu_Item_Catagory{
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.Menu_Item_Catagory > div{
    display: grid;
    grid-template-areas: 
    "Menu_Item_Catagory_IMG"
    "Menu_Item_Catagory_Text";
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    justify-items: center;
}

.Menu_Item_Catagory > div > img {
    height: 100px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.Menu_Item_Catagory > div:hover {
    transform: translateY(-10px);
    transform: scale(1.1);
    transition: all ease 0.5s;
}

.Menu_Item_Catagory > div > a {
    padding-top: 10px;
}