.Menu_Item_Catagory > div{
    position: relative;

}

.Menu_Item_Catagory > div > img {
    height: 50px;
    width: auto;
    border-radius: 50%;
    object-fit: cover;
}

.Menu_Item_Catagory > a {
    position: absolute
}