.Receipt{
    background-color: white;
    margin-top: 0;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    flex-direction: column;
    padding: 3%;
}

.receipt_Top{
    border: 1.5px solid black;
    padding-left: 1%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.receipt_logo{
    border: 1.5px solid black;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.receipt_Chosen_Items{
    display: flex;
    justify-content: space-between;
}

