.recommond {
  align-content: center;
}

.Recommended_items_containor{
display: grid;
  grid-template-areas:
    "itme-1 itme-2 itme-3 itme-7 itme-9"
    "itme-4 itme-5 itme-6 itme-8 itme-10";
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 3px;
  background-color: transparent;
  padding: 5px;
}

.Recommended_items_containor div {
  background-color: #1D1D1D;
  padding: 0px;
  border-radius: 7px;
  margin-left: 15px;
  margin-right: 15px;
}

.Recommended_items_containor div.itme-1 {
  grid-area: itme-1;
  text-align: center;
}

.Recommended_items_containor div.itme-2 {
  grid-area: itme-2;
  text-align: center;
}

.Recommended_items_containor div.itme-3 {
  grid-area: itme-3;
  text-align: center;
}

.Recommended_items_containor div.itme-4 {
  grid-area: itme-4;
  text-align: center;
}

.Recommended_items_containor div.itme-5 {
  grid-area: itme-5;
  text-align: center;
}

.Recommended_items_containor div.itme-6 {
  grid-area: itme-6;
  text-align: center;
}

.Recommended_items_containor div.itme-7 {
  grid-area: itme-7;
  text-align: center;
}

.Recommended_items_containor div.itme-8 {
  grid-area: itme-8;
  text-align: center;
}

.Recommended_items_containor div.itme-9 {
  grid-area: itme-9;
  text-align: center;
}

.Recommended_items_containor div.itme-10 {
  grid-area: itme-10;
  text-align: center;
}

.Recommended_items_containor img{
  height: auto;
  width: 100%;
  border-radius: 5px;
  margin-top: 0px;

}

.item_Name{
  color: #FFFFFF;
}

.item_Price{
  color: #FCBF49;
}

.Add_To_Cart_Button{
  background-color: #D62828;
  border: 0px;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: 10px;
}

.item_quantity_choosing{
  background-color: #4f4f4f;
  border: 0px;
  width: 11%;
  height: 20px;
  color: #FCBF49;
  font-size: 13px;
  font-weight: 600;
  border-radius: 3px;
  padding-left: 5px;
}
